@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600;700&display=swap');


* {
  box-sizing: border-box;
}


body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Pixelify Sans", monospace;
  background: linear-gradient(#67c7ff, #c9efff);
}



.game {
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.screen {

  display:none;

  width:min(85vw,700px);

  padding:20px;

  text-align:center;

  color:white;

}



.screen.active {

display:block;

}



h1 {

font-size:36px;

line-height:1.3;

text-shadow:4px 4px #2471b8;

}



p {

font-size:18px;

line-height:1.5;

}



/* BUTTONS */


button {

width:100%;

max-width:550px;

padding:16px;

margin:12px auto;

display:block;

font-family:"Pixelify Sans", monospace;

font-size:20px;

color:#06295c;

background:#dff5ff;

border:5px solid #1769aa;

box-shadow:0 7px #1769aa;

cursor:pointer;

}



button:active {

transform:translateY(7px);

box-shadow:none;

}





/* DUCK */


.pixel-duck {

width:120px;

height:120px;

margin:auto;

position:relative;

animation:bounce 1s infinite alternate;

}


.pixel-duck.small {

transform:scale(.75);

}



.body {

position:absolute;

width:80px;

height:70px;

background:#ffd83d;

border:6px solid #d99b00;

left:20px;

bottom:15px;

}



.eye {

position:absolute;

width:10px;

height:10px;

background:#111;

top:20px;

}



.e1 {

left:15px;

}



.e2 {

right:15px;

}



.beak {

position:absolute;

width:28px;

height:14px;

background:#ff9418;

bottom:-16px;

left:24px;

}



.hat {

position:absolute;

width:55px;

height:28px;

background:#2563eb;

border:5px solid #1746a2;

left:32px;

top:8px;

}



@keyframes bounce {

from{

transform:translateY(0);

}

to{

transform:translateY(-10px);

}

}





/* QUIZ */


.top-bar {

font-size:20px;

margin-bottom:15px;

}



.question-card {

background:rgba(255,255,255,.3);

border:5px solid white;

padding:25px;

}



.question-card h2 {

font-size:24px;

line-height:1.4;

}



#answers {

display:flex;

flex-direction:column;

gap:12px;

margin-top:20px;

}



.answer {

font-family:"Pixelify Sans", monospace;

font-size:20px;

color:#06295c !important;

background:#e6f7ff !important;

border:5px solid #1769aa !important;

min-height:60px;

padding:15px;

}



.answer span {

display:none;

}





/* BALLOONS */


.balloon {

position:absolute;

width:45px;

height:55px;

border-radius:50%;

}



.b1 {

background:#2563eb;

left:10%;

}


.b2 {

background:white;

left:45%;

}


.b3 {

background:#93c5fd;

right:10%;

}





/* HEARTS */


.heart {

position:absolute;

width:18px;

height:18px;

background:#8ddcff;

transform:rotate(45deg);

}




/* CAKE */


.cake {

width:220px;

height:170px;

margin:15px auto;

position:relative;

transform:scale(.8);

}



.cake-body {

position:absolute;

bottom:0;

width:220px;

height:90px;

background:#6b341f;

border:6px solid #3b1c0f;

}



.cake-top {

position:absolute;

top:45px;

width:220px;

height:35px;

background:#d8a074;

border:6px solid #3b1c0f;

}




.candle {

position:absolute;

width:8px;

height:45px;

background:white;

z-index:3;

}



.candle:after {

content:"";

position:absolute;

width:10px;

height:10px;

background:#ffd633;

top:-10px;

border-radius:50%;

}



.candle.off:after {

display:none;

}




/* IPAD */

@media(min-width:768px){


.game {

padding:20px;

}


.screen {

width:700px;

max-width:85vw;

padding:20px;

}



h1 {

font-size:38px;

}



p {

font-size:20px;

}



.question-card {

padding:30px;

}



.question-card h2 {

font-size:26px;

}



.answer {

font-size:22px;

min-height:65px;

}



button {

font-size:22px;

}



.cake {

transform:scale(.75);

}



}
