@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

body {
  font-family:"Pixelify Sans", monospace;
  background:linear-gradient(#67c7ff,#c9efff);
}


.game {
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  overflow:hidden;
}


/* SCREENS */

.screen {

display:none;

width:85vw;

max-width:800px;

height:90vh;

padding:20px;

text-align:center;

color:white;

}


.screen.active {

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}



/* TEXT */

h1 {

font-size:38px;

line-height:1.3;

margin:10px;

text-shadow:4px 4px #2471b8;

}


p {

font-size:20px;

line-height:1.5;

margin:10px;

}




/* BUTTONS */

button {

width:100%;

max-width:600px;

padding:18px;

margin:10px;

font-family:"Pixelify Sans", monospace;

font-size:22px;

color:#06295c;

background:#e6f7ff;

border:5px solid #1769aa;

box-shadow:0 7px #1769aa;

}


button:active {

transform:translateY(7px);

box-shadow:none;

}



/* DUCK */

.pixel-duck {

width:120px;

height:120px;

position:relative;

animation:bounce 1s infinite alternate;

}


.pixel-duck.small {

transform:scale(.7);

margin-bottom:-20px;

}


.body {

position:absolute;

width:85px;

height:75px;

background:#ffd83d;

border:6px solid #d99b00;

left:20px;

bottom:15px;

}


.eye {

position:absolute;

width:10px;

height:10px;

background:#111;

top:20px;

}


.e1 {

left:15px;

}


.e2 {

right:15px;

}


.beak {

position:absolute;

width:30px;

height:15px;

background:#ff9418;

bottom:-18px;

left:25px;

}


.hat {

position:absolute;

width:60px;

height:30px;

background:#2563eb;

border:5px solid #1746a2;

left:32px;

top:10px;

}


@keyframes bounce {

from {
transform:translateY(0);
}

to {
transform:translateY(-10px);
}

}




/* QUIZ */

.top-bar {

font-size:22px;

margin-bottom:10px;

}


.question-card {

width:100%;

background:rgba(255,255,255,.3);

border:5px solid white;

padding:25px;

}


.question-card h2 {

font-size:27px;

line-height:1.4;

margin:5px;

}



#answers {

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

margin-top:20px;

width:100%;

}



.answer {

font-family:"Pixelify Sans", monospace;

font-size:22px;

color:#06295c !important;

background:#e6f7ff !important;

border:5px solid #1769aa !important;

min-height:80px;

padding:15px;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

line-height:1.3;

}


.answer span {

display:none;

}




/* CAKE */

.cake {

width:240px;

height:180px;

position:relative;

transform:scale(.8);

margin:0;

}


.cake-body {

position:absolute;

bottom:0;

width:240px;

height:90px;

background:#6b341f;

border:6px solid #3b1c0f;

}


.cake-top {

position:absolute;

top:45px;

width:240px;

height:35px;

background:#d8a074;

border:6px solid #3b1c0f;

}



.candle {

position:absolute;

width:8px;

height:45px;

background:white;

z-index:3;

}


.candle:after {

content:"";

position:absolute;

width:10px;

height:10px;

background:#ffd633;

top:-10px;

border-radius:50%;

}


.candle.off:after {

display:none;

}



/* IPAD */

@media(min-width:768px){

.screen {

width:750px;

max-width:85vw;

}


h1 {

font-size:42px;

}


.answer {

font-size:24px;

}


.question-card h2 {

font-size:30px;

}

}
